@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */

:root {
    --color-gold-lt: 121 115 85; /* #797355 */
    --color-gold-md: 49 44 33; /* #312c21 */
    --color-gold-dk: 32 32 24; /* #202018 */
    --color-gold-bg: 21 20 15; /* #0d0b08 */
}

/* Global */

body {
    @apply bg-green-500 text-white;
    background: linear-gradient(0deg, rgba(32,32,24,1) 0%, rgba(13,11,8,1) 100%);
    background-attachment: fixed;
}
hr { @apply bg-gold-md/50 border-none h-[2px]; }
button { @apply !bg-gold-lt py-2 px-3 rounded hover:brightness-90 whitespace-nowrap; }
button:disabled { @apply !bg-black/20 text-gold-md; }

/* Typography */

h1 { @apply text-4xl md:text-6xl font-bold; }
h2 { @apply text-3xl md:text-4xl font-bold; }
h3 { @apply text-2xl md:text-3xl font-bold; }
h4 { @apply text-xl md:text-2xl font-bold; }
h5 { @apply text-lg md:text-xl font-bold; }
h6 { @apply text-base md:text-lg font-bold; }

p { @apply text-white/60; }

a { @apply text-gold-lt; }
a:hover { @apply text-white; }

/* Forms */

label { @apply block w-full; }
label span { @apply block text-white/60 text-xs mb-2; }
select {
    @apply border border-gold-md focus:border-gold-lt/50 bg-gold-md/50 text-white/60 placeholder:text-white/20 px-3 py-[10px] w-full outline-none rounded-lg capitalize;
}
input[type="search"] {
    @apply border border-gold-md focus:border-gold-lt/50 bg-gold-md/50 text-white/60 placeholder:text-white/20 px-3 py-2 w-full outline-none rounded-lg;
}

/* Scrollbars */

::-webkit-scrollbar { @apply bg-gold-bg w-[5px];}
::-webkit-scrollbar-track { @apply shadow; }
::-webkit-scrollbar-thumb { @apply bg-gold-lt; }